*{
    padding: 0;
    margin: 0;
}
.section-one{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}
.section-two__img,.section-three__img,.section-four__img,.section-five__img{
    height: 400px;
    width: 300px;
}
.section-two,.section-three,.section-four,.section-five{
    display: inline-block;
    border: solid black 3px;
    text-align: center;
}
.container{
    padding-top: 20px;
    text-align: center;
}
.section-six{
    text-align: center;
    background-color: black;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
    
}
.section-six__table{
    text-align: center;
    display: inline-block;
}
.container2{
    padding-top: 20px;
}
.section-six__button{
    border: none;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(151, 205, 50);
}
.section-two__butt,.section-three__butt,.section-four__butt,.section-five__butt{
    background-color: black;
    color: white;
    padding: 10px;
}